/* Navbar */
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

#profile {
  border-radius: 100px;
}

.nav-link {
  margin: 0 10px;
  transition: color 0.3s;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.d-flex .nav-link img:hover {
  border-color: #333333;
}

/* Responsive design for mobile */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
    margin-right: 0;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
  }

  .nav-link {
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
  }

  .navbar-nav {
    margin: 0;
    padding: 0;
  }

  .d-flex {
    margin-left: auto;
  }
}