#resumebody {
    margin-top: 70px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 100;
    background-color: #F5F5F5;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Responsive design for mobile */
@media screen and (max-width: 768px) {
    #resumebody {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }
}