#expbody {
    font-family:'Helvetica';
    font-style:normal;
    font-weight:100;
    background-color: #F5F5F5;
    overflow-x: hidden;
    padding: 0;
    margin-top: 60px;
  }

#exp_about {
    background-color: #333333;
    padding: 70px; 
    text-align: center; 
    height: 200px;
    line-height: 25px;
    color: #F5F5F5;
}

#exp_txt {
    background-color:#f9f9f9;
    padding: 150px;
    text-align: center;
    height: 600px;
}

#wow {
    background-image: url('../images/wow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500p
}

#bd {
    background-image: url('../images/bd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500p
}

#pf {
    background-image: url('../images/packfey.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500p
}

#button {
    color: black;
    background-color: rgba(0, 0, 0, 0.2);

}

#button:hover {
    background-color: rgba(0, 0, 0, 0.35);
}